#sidebar-container {
    position: fixed;
    top: 0;
    right: -300px; /* start the sidebar off-screen */
    width: 200px;
    height: 100%;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: right 0.5s; /* smooth animation when the sidebar is shown or hidden */
  }

#sidebar {
  /* Hide the sidebar by default */
  display: all;
  float: left;
  width: 10%;
  padding: 10px 15px;
}

#toggle-button {
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgb(255, 255, 255);
    color: rgb(98, 98, 98);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
  }
/* Show the sidebar when the user clicks the button */
#sidebar.open {
  display: block;
}
h1 {
    font-family: "Palatino", sans-serif;
  }
  
  h2 {
        font-family: 'SEVESBRG';
        font-style: normal;
        font-weight: 400;
  }
body {
    font-family: "Palatino", sans-serif;
  }
  main {
    /* Float the main content to the right */
    float: middle;
    
    /* Set the width of the main content */
    width: 100%;
  }

  .sidebar a {
    text-decoration: none;
    padding: 0.5em 0;
    color: black;
  }
  #sidebar a:visited {
    color: #000; /* set the color to black for visited links */
  }
  
  #sidebar a:active {
    color: #000; /* set the color to black for active links */
  }
  #text-container {
    text-align: left; /* center the text */
    margin: -50 auto; /* center the container element */
    width: 50%; /* limit the width of the container element */
    line-height: 1.5; /* add spacing between lines */
    margin-bottom: 20px;
  }
  
  img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }

  body {
    margin: 0 auto;
    text-align: center;
  }
  header {
    margin: 0 auto;
    text-align: center;
  }
  p {

  }
  @font-face {
  font-family: 'SEVESBRG';
  src: url('./fonts/SEVESBRG.TTF') format('truetype');
}
@media (max-width: 600px) {
  /* styles that will only be applied when the viewport width is below 600px */
}
body {
  font-size: 16px;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
/* Use a responsive grid system to create a flexible layout */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Apply different styles based on the width of the viewport */
@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/* Use responsive images by specifying the width and height as a percentage of the viewport size */
img {
  width: 100%;
  height: auto; 
}

/* Use responsive text by setting the font size as a percentage of the viewport size */
body {
  font-size: 16px;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
