#sidebar-container {
    position: fixed;
    top: 0;
    right: -300px; /* start the sidebar off-screen */
    width: 200px;
    height: 100%;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: right 0.5s; /* smooth animation when the sidebar is shown or hidden */
  }

#sidebar {
  /* Hide the sidebar by default */
  display: all;
  float: left;
  width: 10%;
  padding: 10px 15px;
}

#toggle-button {
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgb(255, 255, 255);
    color: rgb(98, 98, 98);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
  }
/* Show the sidebar when the user clicks the button */
#sidebar.open {
  display: block;
}
h1 {
    font-family: "Palatino", sans-serif;
  }
  
  h2 {
        font-family: 'Apple Chancery';
        font-style: normal;
        font-weight: 400;
  }
body {
    font-family: "Palatino", sans-serif;
  }
  main {
    /* Float the main content to the right */
    float: middle;
    
    /* Set the width of the main content */
    width: 100%;
  }

  .sidebar a {
    text-decoration: none;
    padding: 0.5em 0;
    color: black;
  }
  #sidebar a:visited {
    color: #000; /* set the color to black for visited links */
  }
  
  #sidebar a:active {
    color: #000; /* set the color to black for active links */
  }
  #text-container {
    text-align: left; /* center the text */
    margin: -50 auto; /* center the container element */
    width: 50%; /* limit the width of the container element */
    line-height: 1.5; /* add spacing between lines */
    margin-bottom: 20px;
  }
  
  img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }

  body {
    margin: 0 auto;
    text-align: center;
  }
  header {
    margin: 0 auto;
    text-align: center;
  }
  p {
    padding-left: 300px;
    padding-right: 300px;
    text-align: left;
    font-size: 16px;
  }